.nav{
    display: flex;
    align-items: center;
    background-color: #B6C4B6;
    border-radius: 10px;
}

body {
    background-color: #fffaeb;
}

.nav{
    display: flex;
    align-items: center;
    background-color: #C2B19C;
}

.navbar{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}
.navbarItem{
    width: 150px;
}

.navbar a{
    text-decoration: none;
    color: #544541;
}

.dropdown{
    position: relative;
}
.dropdownContents{
    list-style: none;
    display: none;
    position: absolute; top: 37px;
    background-color: #CDC2AE;
    padding: 10px;
    min-width: 50px;
    border-radius: 10px;
}

.dropdownContents li+li{
    margin-top: 10px;
    margin: 10px;
}
.dropdown:hover .dropdownContents{
    display: block;
}

input[type=checkbox]{
    display: none;
}
.toggleButton{
    display: none;
    font-size: 25px;
}

@media only screen and (max-width: 768px){

    .navbar{
        display: none;
        position: absolute;
        top: 75px;
        background-color: #CDC2AE;
        padding-bottom: 20px;padding-top: 20px;
    }
    .navbar li+li{
        padding-top: 12px;
    }
    .toggleButton{
        display: block;
    }
    .nav{
        justify-content: space-between;
        padding-left: 20px; padding-right: 20px;
    }
    input[type=checkbox]:checked ~ .navbar{
        display: block;
    }
    /*
    .nav{display: block;}
    .nav{
        flex-direction: column;
    }
    .nav img{padding-top: 25px;}
    .navbar{
        flex-direction: column;
    }
    .navbar li+li{
        margin-top: 20px;
    }
    */
}